
<div class ="row">

    <div class ="col-md-8">
        <h2>Welcome {{user.email}}</h2>
    </div>

    <div class ="col-md-2">
        <button ui-sref="newcampaign" class ="btn btn-success">Create Campaign</button>
    </div>

    <div class = "col-md-2">
        <button ui-sref="home" class ="btn btn-primary">Home</button>

    </div>

</div>

<div class ="row">

    <div class ="col-md-8">
        <ul ng-repeat="bid in bids">
            <li>{{bid._id}}</li>
        </ul>

    </div>

    <div class ="col-md-4">
        <ul ng-repeat="bid in bids">
            <li>{{bid.bidPrice}}</li>
        </ul>
    </div>

</div>

