<section id='detail'>
	<h1 class="title">{{products.title}}</h1>
	<div class='table'>
		<div class='img-group'>
			<div >
				<img ng-src='{{primaryPic}}' class='primaryPic'>	
			</div>

			<span ng-repeat ='thumbnail in products.imgUrl'>
				<img ng-src="{{thumbnail}}" ng-click="changePic($index)">
			</span>
		</div>

		<div class='desc'>	
			<!-- <p id='countdown'></p> -->
			<p id='countdown'>{{countdown}}</p>
			<p>Total Bids: {{totalBids}}</p>
		<!-- 	<p>Shipping Cost: {{products.shipCost}}</p>
			<p>Estimate Arrival Days: {{products.shipLength}}</p>
		 -->	
     <p class='suggest' ng-show='!active'>
     Click <span ui-sref='home'>here</span> to browse more campaigns.
     </p>
     <p class='suggest' ng-show='!login && active'>
       You need to log in to bid campaigns.
       <br>
       Click <span ui-sref='login'>here</span> to log in.
     </p>
     <section ng-show='login && active' class='quick-bid description' ng-controller="bidsCtrl">
          <form ng-submit="submitBid(bid, products._id)">
            <input ng-model="bid.value" type='number' min='0' step='1'placeholder='$'>
            <input type="submit" class='btn btn-primary' value="Bid">
          </form>
      </section>
            <br>
          <button ui-sref="analytics({id:products._id})" class="'btn btn-warning">See Bid Analysis</button>
		</div>
	</div>	

		

	<div class="product-description"> 
		<article>
			{{products.longDesc}}
		</article>
	<!-- 	<section>
			{{product.questio		n & answers}}
		<section>
	 -->
	 </div>
 </section>


<!--  /*div#main{

  .row{
    padding:20px;
    width: 100vw;
  }
  .img-group {
    border-style:solid;
    border-color: gray;
    padding-right: 20px;
    img{
      padding: 0;
    }
  }

@media (min-width: 481px){
  .row{
    display: table;
  }
  .img-group{
    overflow-y:hidden;
  }
  .primaryPic{
    max-width: 100%;
    max-height: 100%;
  }
  div.detail{
    height:100%;
    font-size:20px;
  }
  article{
    font-size:px;
  }
}

@media (max-width: 480px){
  .primaryPic{
    height:100%;
    overflow: 
  }
  div.detail{
    font-size:10px;
  }

  article{
    font-size:10px;
  }
}

 

  
  
}*/ -->