@import "logo";
@import "navbar";
@import "campaigns";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Damion); 

$break-sm: 321px;
$break-md: 768px;
$break-lg: 960px;

*{
  box-sizing: border-box;
}
div#main{
  margin: 0px 50px;
  padding:0;
  width:100%;
  h1{
    padding: 10px 20px;
    text-align: center;
    font-size: 40px;
    background-color: ligten(blue, 90%);
  }

  .row{
    padding:20px;
    width: 100vw;
  }
  .img-group {
    border-style:solid;
    border-color: gray;
    padding-right: 20px;
    img{
      padding: 0;
    }
  }

@media (min-width: 481px){
  .row{
    display: table;
  }
  .img-group{
    overflow-y:hidden;
  }
  .primaryPic{
    max-width: 100%;
    max-height: 100%;
  }
  div.detail{
    height:100%;
    font-size:20px;
  }
  article{
    font-size:px;
  }
}

@media (max-width: 480px){
  .primaryPic{
    height:100%;
    overflow: 
  }
  div.detail{
    font-size:10px;
  }

  article{
    font-size:10px;
  }
}
  

  div.detail{
    background-color: #C0C0C0;  
    float:left;
    font-family: 'Roboto', Verdana;
    height:100%;
    font-weight: 5px;
  }
 

  div.product-description{
    float:left;
    width:100%;
    article{
      font-family: 'Roboto';
    }
  }
  
}