campaign {
  font-family: 'Roboto', sans-serif;
  margin:10px;
  text-align: center;

  section.frame{
    background-color: #C0C0C0;
    
     .title {
      font-size:1.4em;
      font-weight: bold;
      text-transform: uppercase;

    }

    img {
      margin-bottom: 0px;
      height: 320px;
      width: 350px;
    }

    p{
      margin: 0 0 0px;
    }
  }

  form{
    padding-bottom: 20px;

  }

}
