#home > .campaign-list{
    padding: 0;
    margin: 0;
    list-style: none;

/*    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;*/
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-grow:1;
}



campaign {
  font-family: 'Roboto', sans-serif;
  margin:10px;
  text-align: center;

  section.frame{
    background-color: #C0C0C0;
    
     .title {
      font-size:1.4em;
      font-weight: bold;
      text-transform: uppercase;

    }

    img {
      margin-bottom: 0px;
      height: 320px;
      width: 350px;
    }


    p{
      margin: 0 0 0px;
    }
  }

  form{
    padding-bottom: 20px;

  }

}
