$tablet-width: 992px;
$mobile-max:991px;

  @mixin lgscreen {
    @media (min-width: #{$tablet-width}) {
      @content;
    }
  }

  @mixin smscreen {
    @media (max-width: #{$mobile-max}) {
      @content;
    }
  }
#detail{
  margin-left:5%;
  margin-right: 5%;
  @include lgscreen{
    margin-left: 10%;
    margin-right:10%;
  }
  .title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Roboto';
  }

  .table{
    @include lgscreen {
      display:table-row-group;
      border-collapse: collapse;
    }
  }

  .suggest{
    color:gray;
    font-weight: 2px;
    span{
      color: red;
    }
  }

  .img-group{
    @include lgscreen{
      width: 50vw;
      display:table-cell;
      padding-right:2vw;
      margin:0 auto;
    }

    .primaryPic{
      max-width:100%;
      display:block;
      margin:0 auto;
      @include lgscreen {
        height:400px;
        max-width: 80%;
      }

    }

    span>img{
        width: 100px;
        height: 100px;

        @include lgscreen {
          width: 60px;
          height: 60px; 
        }
      }
  }

  .desc{
    margin-top: 20px;
    padding: 20px 0;
    background-color: #C0C0C0;  
    width:100%;
    font-family: 'Roboto', Verdana;
    height:100%;
    text-align: center;
    font-weight: 10px;
    font-size: 30px;
    line-height: 110%;

    @include lgscreen {
        background-color: #B2E6FF; 
        line-height: 200%;
        vertical-align: middle;
        width: 40vw;
        font-size: 18px;
        padding: 0;
        display: table-cell;
        border-bottom: 60px solid white;
      }
  }

  div.product-description{
    display: block;
    margin-top: 20px;
    article{
      width:100%;
      text-align: justify;
      text-indent: 50px;
      @include lgscreen {
        font-size: 18px;
      }
    }
    
  }  
}
