$tablet-width: 768px;
$desktop-width: 1024px;
#detail{
  margin-left:5%;
  margin-right: 5%;
  .title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Roboto';
  }

  @mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }

  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }

  p {

    @include tablet {
    }

    @include desktop {

    }
  }

  .img-group{

    .primaryPic{
      width:100%;
      margin:0 auto;
      display:block;
      @include tablet {
        width: 50%;
        float:left;
      }
     @include desktop {
        width: 50%;
        float:left;
      }

    }

    span>img{
      width: 100px;
      height: 100px;
    }
  }

  .desc{
    margin-top: 20px;
    padding: 20px 0;
    background-color: #C0C0C0;  
    width:100%;
    font-family: 'Roboto', Verdana;
    height:100%;
    text-align: center;
    font-weight: 10px;
    font-size: 30px;
    line-height: 110%;

    @include tablet {
        width: 50%;
        font-size: 18px;
        float:left;
      }
     @include desktop {
        width: 50%;
        font-size: 16px;
        float:left;
      }

    #countdown{


    }
  }

  div.product-description{
    display: block;
    margin-top: 20px;
    width:100%;
    text-align: justify;
    text-indent: 10px;
  }
}  

