navbar {

  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1600px;
    padding-top: 20px;
  }

  .containeroverride {
    padding-top:5px;
    padding-left:20px;
    margin-left:0;

  }
  logo {
    margin-top:10px;
    margin-right: 20px;
    padding:5px;
    border: black 1px solid;
    border-radius: 5px;
  }

  .navbar-btn {
    float:right;
    padding-top:10px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .signup-button{
    margin-right:10px;
  }


  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      cursor: pointer;
    }

    .logout{
      color: tomato;
      padding-right:5px;
      border: 1px solid dodgerblue;
      background: none;
    }
    .myaccount{
      color:#000066;
      padding-right:5px;
      border: 1px solid dodgerblue;
      background: none;

    }
  }

}
