#about {

  margin: 0 auto;
  width: 90%;
  @include clearfix;

  p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left;
  }

  .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto;
    .carousel-inner {
      height: 500px !important;
    }
    .carousel-control {
      background: none;
    }
    .carousel-indicators {
      display: none;
    }
  }

}
