

<div ng-show="!user" class ="alert alert-danger">You have to be logged in to access this. Please log in or sign up:)</div>

<div ng-show ="user"class = "row">

    <div class ="col-md-8">
        <h2>Hi {{user.name}}</h2>
        <h2>Create a new campaign</h2>
    </div>
    <div class ="col-md-4">
        <button ui-sref="home" class ="btn btn-primary">Home</button>
    </div>
</div>

<div ng-show ="user" class ="row">
    <div class ="col-md-10">
        <form name="newCampaignForm" ng-submit="submit(campaign)">
            <div class="form-error" ng-if="newCampaignForm.$invalid && newCampaignForm.$submitted">Please fill out the fields!</div>

            <div class="form-group">
                <label>Title:</label>
                <div class ="form-error" ng-if="newCampaignForm.title.$error.minlength && newCampaignForm.$submitted" >You need to put in a title</div>
                <input type ="text" placeholder="My awesome product" ng-model="campaign.title" name="title" ng-minlength="1" required /><br />
            </div>

            <div class="form-group">
                <label>Description:</label>
                <div class ="form-error" ng-if="newCampaignForm.description.$error.minlength && newCampaignForm.$submitted">Please fill out description</div>
                <input type='text' placeholder= "The best product ever" ng-model="campaign.longDesc" name ="longDesc" ng-minlength="20" required/><br />
            </div>

            <div class ="form-group">
                <label>Duration:</label>
                <div class ="form-error" ng-if="newCampaignForm.duration.$error.minlength && newCampaignForm.$submitted">Please fill out description</div>
                <input type="number" placeholder="5 days" ng-model="campaign.duration" name ="duration" required/><br />
            </div>

            <div class ="form-group">
                <label>Images:</label>

                <input type='file' fileread ="campaign.imgUrl" name="images" multiple /><br />
            </div>

            <button class="btn btn-success" type="submit">Create</button>
        </form>
    </div>
    <pre>form={{campaign | json}}</pre>
    <pre>master ={{master | json}}</pre>
    <pre>{{user | json}} </pre>

</div>
